.outer {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.outer .img-wrapper {
  position: absolute;
  top: 0%;
  z-index: -100;
}
.outer .content-wrapper {
  width: 80vw;
  height: 60vh;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 20px;
}
.outer .content-wrapper ::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsla(0, 0%, 100%, 0.5);
  filter: blur(20px);
  z-index: -1;
}
.outer .content-wrapper h1 {
  font-size: 3rem;
}
.outer .content-wrapper article {
  font-size: 1.5rem;
  padding: 0 10rem;
}
