.outer {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.outer .img-wrapper {
  position: absolute;
  top: 0%;
}
.outer .content-wrapper {
  width: 80vw;
  height: 40vh;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: coral;
  border: 1px solid transparent;
  border-radius: 20px;
}
.outer .content-wrapper h1 {
  font-size: 3rem;
}
.outer .content-wrapper article {
  font-size: 1rem;
}
